<!DOCTYPE>
<html>
    <header>
        <h1>My about page</h1></h1>
        
        
        
    </header>
    
    <body>
        <%= link_to 'Home', pages_home_path %>

        
    </body>
    
    
    
</html>