<!DOCTYPE>
<html>
    <header>
        <h1>My home page</h1></h1>
        
        
        
    </header>
    
    <body>
        
        <%= link_to 'About', pages_about_path %>

    </body>
    
    
    
</html>